* {
  font-family: arial, sans-serif;
  margin: 0;
}
body {
  height: 100vh;
  width: 100vw;
  background-color: grey;
}
.navbar {
  display: flex;
  padding: 2em;
  justify-content: space-evenly;
  font-size: 2vw;
  background-color: aqua;
  border: solid 2px black;
  border-radius: 10px;
  margin-bottom: 10px;
}
.navbar .home:hover,
.blue-color:hover,
.green-color:hover,
.red-color:hover {
  font-weight: bold;
  color: white;
}
.red,
.green,
.blue {
  border: solid 2px black;
  border-radius: 10px;
}
.blue,
.green,
.red {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2vw;
  width: 100%;
  height: 500px;
}

.red {
  background-color: red;
  color: white;
}
.blue {
  background-color: #275db3;
  color: white;
}
.green {
  background-color: green;
  color: white;
}
